name: ZAP Security Scan

on:
  push:
    branches: [ main ]
  workflow_dispatch: #permite ejecucion manual

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: ZAP Security Scan
   
    permissions:
      contents: write
      issues: write
      actions: read
      security-events: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: ZAP Scan
      uses: zaproxy/action-full-scan@v0.13.0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        target: 'https://marilynolivera.alexander.net.ar'
        rules_file_name: '.zap/rules.tsv'
        cmd_options: '-a'

    - name: Upload ZAP Report
      uses: actions/upload-artifact@v4
      with:
        name: zap-security-report
        path: '*.html'